<div class="container-fluid">
  <div class="row footer">
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        <ul class="list-inline">
            <li class="list-inline-item"><img src="../../../../assets/images/facebook.png" alt=""></li>
            <li class="list-inline-item"><img src="../../../../assets/images/instagram.png" alt=""></li>
            <li class="list-inline-item"><img src="../../../../assets/images/linkedin.png" alt=""></li>
            <li class="list-inline-item"><img src="../../../../assets/images/twitter.png" alt=""></li>
          </ul>          
    </div>
  </div>
  <div class="row lower-footer">
      <div class="col-4">

        </div>
        <div class="col-4">
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
              </div>
        </div>
        <div class="col-4">
    
        </div>
  </div>
</div>